:root {
  --background: 165 36% 97%;
  --foreground: 186 35% 16%;
  --card: 0 0% 100%;
  --card-foreground: 186 35% 16%;
  --muted: 166 29% 93%;
  --muted-foreground: 186 20% 35%;
  --border: 168 22% 84%;
  --primary: 169 73% 37%;
  --primary-foreground: 210 40% 98%;
  --accent: 184 69% 40%;
  --accent-foreground: 186 35% 16%;
  --success: 154 61% 36%;
  --success-foreground: 158 100% 97%;
  --warning: 31 95% 52%;
  --warning-foreground: 28 73% 17%;
  --danger: 0 75% 52%;
  --danger-foreground: 0 100% 98%;
}

.dark {
  --background: 188 30% 10%;
  --foreground: 210 38% 96%;
  --card: 188 24% 14%;
  --card-foreground: 210 38% 96%;
  --muted: 188 18% 21%;
  --muted-foreground: 186 14% 78%;
  --border: 188 16% 28%;
  --primary: 169 68% 45%;
  --primary-foreground: 210 40% 98%;
  --accent: 184 62% 48%;
  --accent-foreground: 210 40% 98%;
  --success: 154 62% 40%;
  --success-foreground: 146 79% 96%;
  --warning: 36 94% 53%;
  --warning-foreground: 30 85% 17%;
  --danger: 0 73% 56%;
  --danger-foreground: 0 100% 98%;
}
